@media only screen and (max-width: 800px) {
  .picker {
    display: grid;
  }

  .button_solid,
  .button_gradient,
  .button_hat,
  .button_face,
  .color_picker {
    margin: 0;
  }

  .buttons_color {
    margin: 30px 0 20px 0 !important;
  }

  .buttons_model {
    margin: 30px 0 20px 0 !important;
  }

  .model_picker {
    margin: 0 0 50px 0;
  }

  .footer {
    display: inline-flex;
    justify-content: center;

    bottom: 20px;
    width: 100%;
    position: relative;
    margin: 0 0 15px 0;
  }
}