@import "variables";

.container {
  width: 100vw;
  min-height: 95vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  animation: fade .2s;
  transition: background-color .4s;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

.code {
  font-weight: 800;
  font-size: 240px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.02em;
  color: white;

  transition: font-size .4s;

  @media (max-width: 550px) {
    font-size: 156px;
  }
}

.content {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 1px;
  color: var(--gray-300);

  transition: font-size .4s;

  @media (max-width: 550px) {
    font-size: 16px;
  }
}

.backButton {
  margin: 32px 0 0 0;
  padding: 14px 18px;

  width: max-content;

  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;

  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: white;

  transition: transform .2s, box-shadow .2s;

  &:hover {
    box-shadow: 3px 3px white;
  }

  &:active {
    transform: translate(3px, 3px);

    box-shadow: 0 0 white;
  }
}

