@import "variables";

* {
  box-sizing: border-box;
  font: inherit
}

body {
  padding: 0;
  margin: 0;

  width: 100%;
  height: auto;
  min-height: 100vh;

  font-family: "Clash Display", sans-serif;
  color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  background-color: #040404;

  scroll-behavior: smooth;
  overflow-x: hidden;
  touch-action: none;
}

canvas {
  width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  color: inherit;
  text-decoration: none
}

img {
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6, a, i, p, span, ul, ol {
  margin: 0;
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/font/ClashDisplay-Extralight.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/font/ClashDisplay-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/font/ClashDisplay-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/font/ClashDisplay-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/font/ClashDisplay-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/font/ClashDisplay-Bold.otf");
  font-weight: 700;
}
