.buttons_color {
  margin: 35px 100px 0 0;
  display: flex;
  justify-content: center;
}

.button_solid,
.button_gradient {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  font-size: 0.875rem;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  background: transparent;
  outline: currentcolor none 0;
  margin: 0 5px 0 5px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  padding: 8px;
  height: 40px;
  width: 110px;
  transition: 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid rgb(19, 47, 76);
  border-radius: 10px;
  color: rgb(102, 178, 255);

  &:hover {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgb(22, 55, 89);
  }

  &:active {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgb(30, 77, 126);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

#icon {
  margin: 0 5px 0 0;
}